.elementor-column.elementor-col-25, .elementor-column[data-col="25"] {
    width: 33.3%;
}
.element.style {
    background-color: #003366;
}
.footer-top-inner {
	    background-color: #003366;
}
.elementor-26470 .elementor-element.elementor-element-3963fe62:not(.elementor-motion-effects-element-type-background), .elementor-26470 .elementor-element.elementor-element-3963fe62 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #003366;
}
.elementor-counter-number {
	color: #003366;
}
